.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed; /* Change to fixed */
  bottom: 0; /* Stick to the bottom */
  width: 100%;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.footer-item {
  text-align: center;
}

.footer-item a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.footer-item a:hover {
  text-decoration: none; 
  border-radius: 10px;
}

.footer p {
  display: inline;
  margin: 0 10px;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .footer {
    padding: 10px;
  }

  .footer ul {
    flex-direction: row;
    align-items: center;
  }

  .footer-item {
    margin-bottom: 1px;
    margin-top: 1px;
  }

  .footer-item a {
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
  }
}
