/* Add this CSS to make the footer fixed at the bottom */
.footer {
  background-color: #005341;
  color: #fff;
  padding: 5px; /* Adjust the padding as needed */
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.footer-item {
  text-align: center;
}

.footer-item a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.footer-item a:hover {
  text-decoration: none; 
  border-radius: 10px;
}

.footer p {
  display: inline;
  margin: 0 10px;
}