.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative; /* Change from fixed to relative */
    width: 100%;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .footer-item {
    text-align: center;
  }
  
  .footer-item a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
  }
  
  .footer-item a:hover {
    text-decoration: none; 
  }
  
  .footer p {
    display: inline; /* Display <p> tags inline */
    margin: 0 10px; /* Adjust the spacing between paragraphs */
  }
  