/* Import the Pacifico font */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,400;1,300&display=swap');
body {
  font-family: 'Pacifico', cursive;
  background-color: #fae8ca;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.home-container {
  transition: margin-left 0.3s ease; 
  justify-content: center;
  
}

.home-container.shifted {
  margin-right: 250%; 
}

/* Common Styles for hello-container */
.hello-container {
  font-family: 'Pacifico', cursive;
  background-color: #fae8ca;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Hello Text */
.hello-text {
  opacity: 0;
  animation: fadeInAndFloat 3s ease-in-out infinite;
  font-size: 15vmax;
  color: #055B49;
  padding: 10%;
  margin-bottom: 30px; /* Adjusted margin-bottom for fixed height */
  height: 20vh;
}

/* Buttons */
.button-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  margin-top: 20px; /* Adjusted margin-top for space between hello-text and button-container */
  padding-top: 10%;
  height: 60vh;
  align-items: center;
 
}

/* Buttons */
/* .button-contaier {
  padding-bottom: 50%;
} */

/* Login and Signup Buttons */
/* .login-button,
.signup-button {
  padding: 10px 25px;
  margin: 20px;
  background-color: #055b49;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 30px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
} */

.login-button:hover,
.signup-button:hover {
  background-color: #86b649;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.image-container{
  position: absolute;
  top: 0px;
  left: 52%;
  transform: translateX(-50%);
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.image-container img {
  width: 100%;
  height: auto;
  max-width: 200%;
  max-height: 300px;
}




.image-container img {
  width: 100%;
  height: auto;
  max-width: 200%;
  max-height: 300px;
}

.bg-image{
  margin-right: 50%;
}


/* Keyframes */
@keyframes fadeInAndFloat {
  0%, 100% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-20px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Media Query for Mobile */
@media screen and (max-width: 375px) {
  .hello-text {
    padding-bottom: 2px;
    font-size: 10vmax;
    margin-top: 5%;
    margin-bottom: 1%; /* Adjusted margin-bottom for mobile */
  }

  .login-button{
    font-size: 14px;
    margin: 10px;
    border-radius: 20px;
  }

  .signup-button{
    font-size: 14px;
    margin: 10px;
    border-radius: 20px;
  }
}
