/* Import the Pacifico font */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,400;1,300&display=swap');

body {
  font-family: 'Pacifico', cursive;
  background-color: #fae8ca;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.home-container {
  transition: margin-left 0.3s ease; 
  justify-content: center;
}

.home-container.shifted {
  margin-right: 250%; 
}

/* Common Styles for hello-container */
.hello-container {
  font-family: 'Pacifico', cursive;
  background-color: #fae8ca;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin: 0;
}

/* Hello Text DONE*/
.hello-text {
  opacity: 0;
  animation: fadeInAndFloat 7.5s ease-in-out infinite;
  font-size: 5vmax;
  color: #055B49;
  padding-top: 20%;
}

/* Buttons */
/* Buttons */
.button-container {
  display: flex;
  flex-direction: row; /* Make sure it's a row */
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
  gap: 15px; /* Adjust the gap between buttons as needed */
  margin-top: 20px; /* Adjust the margin as needed */
  padding-left: 39%;
}


/* Login and Signup Buttons */
.login-button,
.signup-button {
  background-color: #055b49;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 30px;
  padding: 10px 20px; /* Adjust padding as needed */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.login-button:hover,
.signup-button:hover {
  background-color: #86b649;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.image-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container img {
  width: 100%;
  height: auto;
  max-width: 200%;
  max-height: 300px;
}

.bg-image {
  margin-right: 50%;
}


/* Keyframes */
@keyframes fadeInAndFloat {
  0%, 100% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-20px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}