@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Common Styles for hello-container */
.hello-container {
  font-family: 'Pacifico', cursive;
  background-color: #fae8ca;
  text-align: center; /* Center text on all screen sizes */
  display: flex;
  flex-direction: column; /* Change to a column layout */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Hello Text */
.hello-text {
  opacity: 0;
  animation: fadeInAndFloat 3s ease-in-out infinite;
  font-size: 15vmax; /* Adjusted font size for responsiveness */
  color: #055B49;
}

/* Buttons */
.button-container {
  text-align: center;
  opacity: 0; /* Initially set to transparent */
  animation: fadeIn 1s ease-in forwards; /* Apply fade-in animation */
}

.login-button,
.signup-button {
  padding: 10px 25px; /* Adjust the padding to match the Log in button */
  margin: 20px;
  background-color: #055B49;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 30px; /* Adjust the font size to match the Log in button */
}

.login-button:hover,
.signup-button:hover {
  background-color: #86b649;
}

/* Keyframes */
@keyframes fadeInAndFloat {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
