/* Import the Pacifico font */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,400;1,300&display=swap');


.home-container {
  transition: margin-left 0.3s ease; /* Apply transition effect to margin-left property */
}

.home-container.shifted {
  margin-left: 250px; /* Adjust the margin as needed to shift to the right */
}

/* Common Styles for hello-container */
.hello-container {
  font-family: 'Pacifico', cursive;
  background-color: #fae8ca;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Hello Text DONE*/
.hello-text {
  opacity: 0;
  animation: fadeInAndFloat 7.5s ease-in-out infinite;
  font-size: 5vmax;
  color: #055B49;
  padding: 1%;
  padding-top: 1%;
  height: 15vh;
}

/* Buttons */
.button-contaier {
  margin-bottom: 4%;
}

.button-contaier a {
 
}

/* Login and Signup Buttons */
.login-button,
.signup-button {
  margin: 15px;
  background-color: #055b49;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 30px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.login-button:hover,
.signup-button:hover {
  background-color: #86b649;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.image-container {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container img {
  width: 100%;
  height: auto;
  max-width: 200%;
  max-height: 300px;
}


/* Keyframes */
@keyframes fadeInAndFloat {
  0%, 100% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-20px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

