@import url('https://fonts.googleapis.com/css2?family=Borel&family=Crimson+Text:ital@1&family=La+Belle+Aurore&family=Laila:wght@300;400&family=Noticia+Text&family=Roboto+Serif:ital,opsz,wght@1,8..144,100&family=Satisfy&family=Tilt+Prism&display=swap');


/* Navbar.css */
.navbar {
  font-family: 'Noticia Text', serif;
  position: fixed;
  border-radius: 0px 10px 10px 0px;
  top: 107px;
  left: -50vw; /* Start off-screen on the left */
  width: 23%; /* Adjust the width as needed */
  height: 75vh;
  background-color: #055b49;
  transition: left 1s ease; /* Apply transition effect to the left property */
  /* border: 10px solid white; Add a white border around the navbar */
  padding: 10px; /* Add padding to create space between the border and content */
  padding-right: 0;
  list-style: none;
<<<<<<< HEAD
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); /* Increased box shadow for depth */
=======
  cursor: pointer;
>>>>>>> 14d6a48 (updated prompts response page)
}


.navbar.active {
  left: 1px; /* Slide in to view */
  
}

.navbar.active {
  transform: translateX(-50); /* Slide in to view by translating from left to right */
}


.navbar li {
  margin-left: 100px 100px; /* Increase the margin for longer length */
  margin-top: 30%;
  padding-left: 10px;
  border-bottom: 5px solid white; /* Increase the width of the border */
  font-size: 50px;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}









