/* Navbar.css */
.navbar {
  position: fixed;
  border-radius: 50px;
  top: 10%;
  left: -50vw; /* Start off-screen on the left */
  width: 20%; /* Adjust the width as needed */
  height: 75vh;
  background-color: #005341;
  transition: left 2s ease; /* Apply transition effect to the left property */
  border: 10px solid white; /* Add a white border around the navbar */
  padding: 10px; /* Add padding to create space between the border and content */
  list-style: none;
}


.navbar.active {
  left: -60px; /* Slide in to view */
  
}

.navbar.active {
  transform: translateX(-50); /* Slide in to view by translating from left to right */
}


li {
  margin: 75px 70px;
  border-bottom: 5px solid white; 
  font-family: 'Roboto';
  font-size: 50px;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

/* Adjust styling based on your design */
