/* Navbar background color */
.navbar {
  background-color: #055b49;
  padding: 10px;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
  margin-right: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: flex;
  align-items: center;
  margin-right: 12%;
}

.navbar a {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

.navbar a:hover {
  color: #3498db;
}

.navbar a span {
  margin-left: 8px; /* Adjust the margin to add space between icon and text */
}

/* Slide-in transition for the navbar */
.navbar.active ul {
  transform: translateX(0);
}

@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar li {
    margin: 10px 0;
  }

  .navbar.active ul {
    transform: translateY(0);
  }
}
