<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> b060c1c (improve previous prompts page)
.worked-on {
    font-size: 3em;
}

<<<<<<< HEAD
.worked-on-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-bottom: 100px;
=======
.worked-on-container {
    display: flex;
    justify-content: center;
    padding: 100px;
>>>>>>> 14d6a48 (updated prompts response page)
=======
.worked-on-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-bottom: 100px;
>>>>>>> b060c1c (improve previous prompts page)
}

h1 {
    font-family: 'Noticia Text', serif;
   margin-bottom: 0;
}

<<<<<<< HEAD
<<<<<<< HEAD

.worked-on-next, .worked-on-prev {
    font-size: 60px;
    color: white;
=======
.worked-on-prev {
    font-size: 60px;
    color: #055b49;
    margin-top: 175px;
    cursor: pointer;
}
=======
>>>>>>> b060c1c (improve previous prompts page)

.worked-on-next, .worked-on-prev {
    font-size: 60px;
<<<<<<< HEAD
    color: #055b49;
    margin-top: 175px;
>>>>>>> 14d6a48 (updated prompts response page)
=======
    color: white;
>>>>>>> b060c1c (improve previous prompts page)
    cursor: pointer;
}

.indi-worked-on {
    display: grid;
    justify-content: center;
    background-color: #055b49;
    border: 2px solid white;
    border-radius: 20px;
    width: 1200px;
    margin-bottom: 10px;
<<<<<<< HEAD
<<<<<<< HEAD
    padding: 20px;
=======
    height: 500px;
>>>>>>> 14d6a48 (updated prompts response page)
=======
    padding: 20px;
>>>>>>> b060c1c (improve previous prompts page)
}

.indi-worked-on h3 {
    color: #ffffff;
    font-family: 'Noticia Text', serif;
    margin-bottom: 0;
    font-size: 30px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> b060c1c (improve previous prompts page)
    width: 80%;
    margin: 0 auto;
}

.indi-worked-on p {
    text-align: left;
}

.indi-worked-on .last-edited {
    text-align: right;
<<<<<<< HEAD
=======
>>>>>>> 14d6a48 (updated prompts response page)
=======
>>>>>>> b060c1c (improve previous prompts page)
}

.saved-prompt-response {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    background-color: #FAF9F6;
    border: 2px solid white;
    border-radius: 10px;
<<<<<<< HEAD
<<<<<<< HEAD
    padding: 10px;
    min-height: 300px;
<<<<<<< HEAD
=======
    width: 1000px;
>>>>>>> 14d6a48 (updated prompts response page)
=======
    padding: 10px;
>>>>>>> b060c1c (improve previous prompts page)
=======
>>>>>>> f497819 (normalize styling for text fields)
}

.worked-on-prompts-edit-btn {
    display: flex;
    justify-content: end;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> b060c1c (improve previous prompts page)
.previous-prompt-buttons {
    display: flex;
    gap: 20px;
    justify-content: right;
<<<<<<< HEAD
<<<<<<< HEAD
    align-items: center;
    margin-right: 58px;
}

.worked-on-text {
    flex-grow: 1;
}

.previous-prompt-buttons button {
    background-color: #86b649;
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    
}

.previous-prompt-button button:hover {
    background-color: #228b22;
  }

=======
.button{
    background-color: #fff;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    width: 10%;
    box-sizing: border-box;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    color: black;
}

>>>>>>> 14d6a48 (updated prompts response page)
=======
=======
    align-items: center;
>>>>>>> f497819 (normalize styling for text fields)
    margin-right: 58px;
}

.worked-on-text {
    flex-grow: 1;
}

.previous-prompt-buttons button {
    background-color: #86b649;
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    
}

.previous-prompt-button button:hover {
    background-color: #228b22;
  }

>>>>>>> b060c1c (improve previous prompts page)














