.worked-on {
    font-size: 3em;
}

.worked-on-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-bottom: 100px;
}

h1 {
    font-family: 'Noticia Text', serif;
   margin-bottom: 0;
}


.worked-on-next, .worked-on-prev {
    font-size: 60px;
    color: white;
    cursor: pointer;
}

.indi-worked-on {
    display: grid;
    justify-content: center;
    background-color: #055b49;
    border: 2px solid white;
    border-radius: 20px;
    width: 1200px;
    margin-bottom: 10px;
    padding: 20px;
}

.indi-worked-on h3 {
    color: #ffffff;
    font-family: 'Noticia Text', serif;
    margin-bottom: 0;
    font-size: 30px;
    width: 80%;
    margin: 0 auto;
}

.indi-worked-on p {
    text-align: left;
}

.indi-worked-on .last-edited {
    text-align: right;
}

.saved-prompt-response {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    background-color: #FAF9F6;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
}

.worked-on-prompts-edit-btn {
    display: flex;
    justify-content: end;
}

.previous-prompt-buttons {
    display: flex;
    gap: 20px;
    justify-content: right;
    margin-right: 58px;
}

.previous-prompt-buttons button {
    background-color: #86b649;
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    
}

.previous-prompt-button button:hover {
    background-color: #228b22;
  }















