.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5vmax; /* Adjusted font size for responsiveness */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .App-logo {
    height: 30vmin; /* Adjusted size for mobile */
  }

  .App-header {
    font-size: 2.2vmax; /* Adjusted font size for mobile */
  }
}
