body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Pacifico', cursive;
  font-family: 'Roboto', sans-serif;
  color: #eaecef;
  overflow: hidden;
}

.App{
  overflow:scroll;
}

header {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  padding: 30px;
  background: #fae8ca;
  height: 2vh;
}

.logo {
  width: 350px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add margin to separate from the menu button */
}

.menu {
  color: black;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .logo {
    width: 350px; /* Adjusted size for mobile */
    margin-right: 5px; /* Adjusted margin for mobile */
  }

  .App-header {
    font-size: 2.2vmax; /* Adjusted font size for mobile */
  }
}
