/* Feed.css */
.feed {
  position: fixed;
  border-radius: 20px;
  top: 9%;
  right: 20px; /* Start off-screen on the left */
  width: 800px; /* Adjust the width as needed */
  height: 800px;
  background-color: #005341;
  border: 2px solid white; /* Add a white border around the feed */
  padding: 20px; /* Adjust the padding as needed */
}

/* Add your other styling for the feed elements as needed */
h2 {
  color: white;
  text-align: center;
  font-size: 50px; /* Adjust the font size as needed */
  width: 100%; /* Full width */
  height: auto;
}


form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feed-post{
  border-radius: 50px;
}

.feedInput {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
}

.feedSubmit {
  width: 40%;
  padding: 10px;
  background-color: white;
  color: #005341;
  border: none;
  cursor: pointer;
}

h3 {
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

.feedli {
  color: white;
  margin: 10px 0;
  border-bottom: 1px solid white; /* Add a horizontal line between list items */
  padding-bottom: 5px; /* Adjust the padding as needed */
}

.feedli:last-child {
  border-bottom: none; /* Remove the border on the last list item */
}
